@page "/expediente/{Id:int?}"

@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject CasoDeUsoExpedienteAlta AltaExpediente
@inject CasoDeUsoExpedienteModificacion ModificacionExpediente
@inject CasoDeUsoConsultaPorIdExpediente ConsultaPorIdExpediente
@inject CasoDeUsoUsuarioObtener ObtenerUsuario
<div class="edicion-expediente">
    @if (_esNuevoExpediente)
    {
        <h3>Agregando un nuevo Expediente</h3>
    }
    else
    {
        <h3>Modificando al Expediente "@_expediente.Id"</h3>
    }

    <input placeholder="Caratula" @bind="_expediente.Caratula" class="form-control">
    <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
</div>
<DialogoNotificacion @ref=_dialogoNotificacion Mensaje=@_error Accion=Aceptar />
@code{
    
    Expediente _expediente = new Expediente();
    DialogoNotificacion? _dialogoNotificacion;
    String? _error = "";
    
    [Parameter] public int? Id { get; set; }
    bool _esNuevoExpediente=true;
    protected override void OnParametersSet()
    {
        try
        {
            if (Id != null)
            {
                Expediente expHallado = ConsultaPorIdExpediente.Ejecutar(Id.Value);
                _expediente = expHallado;
                _esNuevoExpediente=false;
            }
        }
        catch(Exception e)
        {
            _error = e.Message;
            _dialogoNotificacion?.Mostrar();
        }
        
    }
    
    void Aceptar()
    {
        try
        {
            Usuario usu = ObtenerUsuario.Ejecutar()!;
            if (_esNuevoExpediente)
            {
                _expediente.IdUser = usu.Id;
                AltaExpediente.Ejecutar(_expediente, usu);
            }
            else
            {
                if (Id != null)
                {
                    ModificacionExpediente.Ejecutar(Id.Value,_expediente, usu);
                    Navegador.NavigateTo("/expedientes");
                }
                
                _esNuevoExpediente = true;
            }
            
            _expediente = new Expediente();
        }
        catch(Exception e)
        {
            _error = e.Message;
            _dialogoNotificacion?.Mostrar();
        }
        
    }

}