@page "/usuario"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioAlta AltaUsuario
@inject NavigationManager Navegador
@inject CasoDeUsoUsuarioTienePermiso TienePermiso

<input placeholder="Nombre" @bind="_usuario.Nombre" class="form-control">
<input placeholder="Apellido" @bind="_usuario.Apellido" class="form-control">
<input placeholder="Email" @bind="_usuario.Email" class="form-control">
<input placeholder="Contraseña" @bind="_usuario.Contraseña" class="form-control">
<input placeholder="Permiso" @bind="_permisoTemp" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
Usuario _usuario = new Usuario();
String? _permisoTemp = "";

void Aceptar()
{
    try
    {
        List<Permiso> lista = _permisoTemp.Split(",").Select(s => (Permiso)int.Parse(s)).ToList();
        _usuario.Permisos = lista;
        AltaUsuario.Ejecutar(_usuario);

        _usuario = new Usuario();
        //Navegador.NavigateTo("listadoclientes");
    }
    catch
    {
        Console.WriteLine("Error al guardar usuario");
    }
}

}
