@page "/expediente/{IdExp:int?}/tramite/{IdTram:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject CasoDeUsoTramiteAlta AltaTramite
@inject CasoDeUsoTramiteModificacion ModificacionTramite
@inject CasoDeUsoTramiteConsultaPorId ConsultaPorIdTramite
@inject CasoDeUsoConsultaPorIdExpediente ConsultaPorIdExpediente
@inject CasoDeUsoUsuarioObtener ObtenerUsuario
<div class="edicion-tramite">
    @if (_esNuevoTramite)
    {
        <h3>Agregando un nuevo Tramite</h3>
    }
    else
    {
        <h3>Modificando al Tramite "@_tramite.Id"</h3>
    }
    <input placeholder="Contenido" @bind="_tramite.Contenido" class="form-control">
    <select name="tramites" id="tramites" @bind="_tramite.EtiquetaTramite" class="form-control">
        <option value="EstadoPresentado">Estado Presentado</option>
        <option value="PaseAEstudio">Pase A Estudio</option>
        <option value="Despacho">Despacho</option>
        <option value="Resolucion">Resolucion</option>
        <option value="Notificacion">Notificacion</option>
        <option value="PaseAlArchivo">Pase Al Archivo</option>
    </select>
    <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
</div>
<DialogoNotificacion @ref=_dialogoNotificacion Mensaje=@_error Accion=Aceptar />
@code{

    Tramite _tramite = new Tramite();
    Usuario _usu = new Usuario();
    Expediente _expediente = new Expediente();
    DialogoNotificacion? _dialogoNotificacion = null!;
    String? _error = "";
    [Parameter] public int? IdTram { get; set; }
    [Parameter] public int? IdExp { get; set; }
    bool _esNuevoTramite = true;
    protected override void OnParametersSet()
    {
        try
        {
            if ((IdTram != null) && (IdExp != null))
            {
                Tramite traHallado = ConsultaPorIdTramite.Ejecutar(IdTram.Value, IdExp.Value);
                _tramite = traHallado;
                _esNuevoTramite=false;
            }
        }
        catch(Exception e)
        {
            _error = e.Message;
            _dialogoNotificacion?.Mostrar();
        }
        
    }
    
    void Aceptar()
    {
        try
        {
            _usu = ObtenerUsuario.Ejecutar()!;
            _expediente = ConsultaPorIdExpediente.Ejecutar(IdExp!.Value);
            if (_esNuevoTramite)
            {
                AltaTramite.Ejecutar(_tramite, _expediente, _usu);
                Navegador.NavigateTo($"/expediente/{IdExp}/tramites");
            }
            else
            {
                {
                    ModificacionTramite.Ejecutar(IdTram!.Value, _tramite, _usu, _expediente);
                    _esNuevoTramite = true;
                    Navegador.NavigateTo($"/expediente/{IdExp}/tramites");
                }
                
            }
            _tramite = new Tramite();
            
        }
        catch (Exception e)
        {
            _error = e.Message;
            _dialogoNotificacion?.Mostrar();
        }

    }

    }