@page "/"
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteConsultaTodos ConsultaDeExpedientes
@inject CasoDeUsoExpedienteBaja BajaExpediente
@inject CasoDeUsoUsuarioObtener ObtenerUsuario
@inject CasoDeUsoConsultaPorIdExpediente ConsultaIdExp

<h1>Bienvenido @_usuario.Nombre</h1>

@code{
    Usuario _usuario = new Usuario();
    protected override void OnInitialized()
    {
        _usuario = ObtenerUsuario.Ejecutar();
        StateHasChanged();
    }
    
    
}    
