@page "/expediente/{ExpedienteId:int?}/tramites"
@rendermode InteractiveServer
@inject CasoDeUsoConsultaPorIdExpediente ConsultaPorIDExpediente
@attribute [StreamRendering]

<PageTitle>Tramites</PageTitle>

<br/>
<p>Esta es la lista de tramites del expediente @(ExpedienteId??0)</p>
<br/>

<table class="tabla-tramites">
    <thead>
    <th>ID</th>
    <th>Ver trámite</th>
    <th>Fecha de creación</th>
    <th>Fecha de modificación</th>
    </thead>
    <tbody>
    @foreach (var tramite in _tramites)
    {
        <tr>
            <td>@tramite.Id</td>
            <td><a href="/expediente/@ExpedienteId/tramite/@tramite.Id">Editar</a></td>
            <td>@tramite.FechaHoraCreacion</td>
            <td>@tramite.FechaHoraMod</td>
        </tr>
    }
    </tbody>
</table>
<br/>
<a href="/expediente/@ExpedienteId/tramite">Agregar nuevo trámite</a>

@code {
    List<Tramite> _tramites = new List<Tramite>();
    Expediente _unExpediente = new Expediente();
    [Parameter] public int? ExpedienteId { get; set; }
    protected override void OnParametersSet()
    {
        try
        {
            if (ExpedienteId != null)
            {
                _unExpediente = ConsultaPorIDExpediente.Ejecutar(ExpedienteId.Value);
                _tramites = _unExpediente.Tramites ?? new List<Tramite>();
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(" * ERROR " + e.Message);
        }
        
    
    }
}
